## Importing libraries

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

## Import & View the data

In [35]:
mtcars = pd.read_csv('mt_cars.csv')
mtcars_2 = pd.read_csv('mt_cars.csv')

In [37]:
mtcars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# Skip this step , because it already in model as name
mtcars = mtcars.rename(columns={'Unamed: 0': 'model'})

## Remove Unnecessary data

In [39]:
del mtcars["model"]

In [41]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [43]:
mtcars_2.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Measure of Central Tendency

### Mean

In [47]:
mtcars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [49]:
mtcars.mean(axis=1)

0     29.907273
1     29.981364
2     23.598182
3     38.739545
4     53.664545
5     35.049091
6     59.720000
7     24.634545
8     27.233636
9     31.860000
10    31.787273
11    46.430909
12    46.500000
13    46.350000
14    66.232727
15    66.058545
16    65.972273
17    19.440909
18    17.742273
19    18.814091
20    24.888636
21    47.240909
22    46.007727
23    58.752727
24    57.379545
25    18.928636
26    24.779091
27    24.880273
28    60.971818
29    34.508182
30    63.155455
31    26.262727
dtype: float64

### Median

In [52]:
mtcars.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [54]:
mtcars.median(axis=1)

0     4.000
1     4.000
2     4.000
3     3.215
4     3.440
5     3.460
6     4.000
7     4.000
8     4.000
9     4.000
10    4.000
11    4.070
12    3.730
13    3.780
14    5.250
15    5.424
16    5.345
17    4.000
18    4.000
19    4.000
20    3.700
21    3.520
22    3.435
23    4.000
24    3.845
25    4.000
26    4.430
27    4.000
28    5.000
29    6.000
30    8.000
31    4.000
dtype: float64

### Mode

In [57]:
mtcars.mode()

    mpg  cyl   disp     hp  drat    wt   qsec   vs   am  gear  carb
0  10.4  8.0  275.8  110.0  3.07  3.44  17.02  0.0  0.0   3.0   2.0
1  15.2  NaN    NaN  175.0  3.92   NaN  18.90  NaN  NaN   NaN   4.0
2  19.2  NaN    NaN  180.0   NaN   NaN    NaN  NaN  NaN   NaN   NaN
3  21.0  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
4  21.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
5  22.8  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
6  30.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN

In [59]:
mtcars.mode(axis=1)

     0    1     2     3     4     5    6     7     8      9      10
0   4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
1   4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
2   1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
3   1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
4   0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
5   1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
6   0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
7   4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
8   4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
9   4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
10  4.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
11  0.0  3.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
12  0.0  3.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
13  0.0  3.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
14  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
15  0.0  3.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
16  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
17  1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
18  1.0  4.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
19  1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
20  1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
21  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
22  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
23  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
24  0.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
25  1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
26  0.0  1.0  2.00  2.14  4.00  4.43  5.0  16.7  26.0   91.0  120.3
27  1.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
28  0.0  1.0  3.17  4.00  4.22  5.00  8.0  14.5  15.8  264.0  351.0
29  6.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
30  8.0  NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN
31  1.0  4.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN    NaN    NaN

## Measure of Spread

### Range

In [63]:
max(mtcars['mpg']) - min(mtcars['mpg'])

23.5

### Variance

In [66]:
mtcars['mpg'].var()

36.32410282258065

### Standard Deviation

In [69]:
mtcars['mpg'].std()

6.026948052089105

## Measure of Shape

### skewness

In [73]:
mtcars['mpg'].skew()

0.6723771376290805

### Kurtosis

In [76]:
mtcars['mpg'].kurt()

-0.0220062914240855