pip install scikit-learn

## Importing & Checking version

In [1]:
import pandas as pd

In [3]:
import numpy as np

## Creating a series in Pandas

In [6]:
alphabet = pd.Series([1,2,3,4], index=['A','B','C','D'])

## Creating a dataFrame in Pandas

In [9]:
data = {'Games': ['GTA V', 'NFS Rivals', 'Cricket 19'], 'Rating': [9,7,8]}

In [11]:
dataframe = pd.DataFrame(data, columns = ['Games', 'Rating'])

In [ ]:
dataframe

## Data Frame Operations

number = np.random.randint(0,300,size=(20,5,5))

number

In [13]:
# Creating Data Frame with Random Numbers
random = pd.DataFrame(np.random.randint(0,300,size=(20,4)), columns=list('ABCD'))

In [ ]:
random

In [15]:
# Saving a Data Frame
random.to_csv('random.csv')

## Data Manipulation

In [17]:
# Importing external data
data = pd.read_csv('random.csv')

In [19]:
# Dropping a Data Frame
data.drop('Unnamed: 0', axis=1)

      A    B    C    D
0   239  128   48  265
1   194  194  207  232
2   163  188   44  173
3    42  158  272  219
4   108   53    9   35
5    50  238   22  247
6   221  286  200  281
7    15   50   35  206
8   265   13  176  221
9    82   63  191   61
10  195  212  217   20
11  211  274   66  239
12   12   89  282  276
13  292  259  285  260
14   77  217  231  259
15  125  138  211   32
16  118  205  118  115
17   71   56   75  265
18  150  154    7  168
19   59  199   29  147

In [21]:
# Shape of a Data Frame
data.shape

(20, 5)

In [23]:
# Get information about the Data Frame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20 non-null     int64
 1   A           20 non-null     int64
 2   B           20 non-null     int64
 3   C           20 non-null     int64
 4   D           20 non-null     int64
dtypes: int64(5)
memory usage: 932.0 bytes

In [31]:
import sklearn

In [25]:
# Shuffling the data frame

from sklearn.utils import shuffle
shuffle_data = shuffle(data).reset_index()

In [27]:
shuffle_data

    index  Unnamed: 0    A    B    C    D
0      19          19   59  199   29  147
1       7           7   15   50   35  206
2       6           6  221  286  200  281
3      10          10  195  212  217   20
4      18          18  150  154    7  168
5      15          15  125  138  211   32
6       4           4  108   53    9   35
7       0           0  239  128   48  265
8       1           1  194  194  207  232
9       8           8  265   13  176  221
10     13          13  292  259  285  260
11      5           5   50  238   22  247
12      2           2  163  188   44  173
13     11          11  211  274   66  239
14     17          17   71   56   75  265
15     14          14   77  217  231  259
16      3           3   42  158  272  219
17     16          16  118  205  118  115
18     12          12   12   89  282  276
19      9           9   82   63  191   61